.nav-Link {
  text-decoration: none !important;
  color: gray;
}
.nav-Link:hover {
  text-decoration: none !important;
  color: rgb(108, 104, 104);
}

.brand-Text {
  font-family: "Cairo", sans-serif;
}

.navbar {
  width: 100vw;
}
